{% extends "organizer/dashboard.html" %}
{% block title %} Update Category {% endblock title %}
{% block content %}
<section class="container mx-auto py-10 px-6">
    <h1 class="text-3xl font-bold mb-6 text-center">Update Category</h1>
    <form method="POST" class="bg-white shadow-md rounded-xl p-6 max-w-xl mx-auto">
        {% csrf_token %}
        <select name="category" id="category" class="w-full mb-2 border border-black rounded-lg py-3 px-2">
            <option value="">Select Category</option>
            {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-semibold px-4 py-2 rounded-lg">Save Category</button>
        {% comment %} <a href="{% url 'event-details' event.id %}" class="ml-3 text-purple-600 font-semibold hover:underline">Cancel</a> {% endcomment %}
    </form>
</section>
{% endblock content %}
